:root {
  /* =============================
     Base Colors (Main Theme)
  ============================== */
  --base-blue-dark: #304663;
  --base-lavender: #a1a6c6;
  --base-blue-light: #cbd1e8;
  --base-pink: #ffe6eb;
  --base-white-pink: #fef2f2;

  /* =============================
     Sub Colors
  ============================== */
  --sub-mint: #a5d6d3;
  --sub-skyblue: #a3c6df;

  /* =============================
     Input Backgrounds
  ============================== */
  --input-bg-1: #f2f4fb;
  --input-bg-2: #f8fafc;
  --input-bg-3: #e3e6f2;

  /* =============================
     Disabled Inputs
  ============================== */
  --input-disabled-1: #c9ced6;
  --input-disabled-2: #b0b4bb;

  /* =============================
     Text Colors
  ============================== */
  --text-green: #10b981;
  --text-darkgray: #666666;
  --text-bluegray: #6b7280;
  --text-lightgray: #999999;
  --text-login: #1f2937;

  --text-rate: #e0e7ff;

  --text1: #9ca3af;

  /* =============================
     Alert / Notification Colors
  ============================== */
  --alert-red: #ef4444;
  --alert-strong: #cf5959;
  --alert-light-1: #f2a9a9;
  --alert-light-2: #f9dada;
  --alert-light-3: #fef2f2;

  --success-bg: #e8f9f1; /* 배경 */
  --success-text: #26ae60; /* 텍스트 */
  --success-border: #b6e5d2; /* 테두리 */

  --input-outline: #f1f5f9;
  --input-outline-2: #e5e7eb;
  --gray-medium: #cfd4db;

  --reset-button: #f9fafb;
  --text-hint: #b5b7c3;

  --top-rank-1: #304663; /* TOP1: 기본 네이비 */
  --top-rank-2: #5b7bb0; /* TOP2: 조금 밝은 차분한 블루 */
  --top-rank-3: #aac3df; /* TOP3: 밝은 연블루 */
}
