:root {
  /* =============================
     Base Colors (Main Theme)
  ============================== */
  --base-blue-dark: #304663;
  --base-lavender: #a1a6c6;
  --base-blue-light: #cbd1e8;
  --base-pink: #ffe6eb;
  --base-white-pink: #fef2f2;

  /* =============================
     Sub Colors
  ============================== */
  --sub-mint: #a5d6d3;
  --sub-skyblue: #a3c6df;

  /* =============================
     Input Backgrounds
  ============================== */
  --input-bg-1: #f2f4fb;
  --input-bg-2: #f8fafc;
  --input-bg-3: #e3e6f2;

  /* =============================
     Disabled Inputs
  ============================== */
  --input-disabled-1: #c9ced6;
  --input-disabled-2: #b0b4bb;

  /* =============================
     Text Colors
  ============================== */
  --text-green: #10b981;
  --text-darkgray: #666666;
  --text-bluegray: #6b7280;
  --text-lightgray: #999999;
  --text-login: #1f2937;

  --text-rate: #e0e7ff;

  --text1: #9ca3af;

  /* =============================
     Alert / Notification Colors
  ============================== */
  --alert-red: #ef4444;
  --alert-strong: #cf5959;
  --alert-light-1: #f2a9a9;
  --alert-light-2: #f9dada;
  --alert-light-3: #fef2f2;

  --success-bg: #e8f9f1; /* 배경 */
  --success-text: #26ae60; /* 텍스트 */
  --success-border: #b6e5d2; /* 테두리 */

  --input-outline: #f1f5f9;
  --input-outline-2: #e5e7eb;
  --gray-medium: #cfd4db;
  --gray-light: #f0f1f4;

  --reset-button: #091827;
  --text-hint: #b5b7c3;

  --top-rank-1: #304663; /* TOP1: 기본 네이비 */
  --top-rank-2: #5b7bb0; /* TOP2: 조금 밝은 차분한 블루 */
  --top-rank-3: #aac3df; /* TOP3: 밝은 연블루 */

  --priority-bg: #e8ecf5;
  /* =============================
     Category Colors
  ============================== */

  --category-transport: #a3c6df; /* 교통/자동차: 이동, 하늘 느낌 */
  --category-life: #e3e6f2; /* 생활: 실내·집 느낌의 부드러운 회색 */
  --category-leisure: #a1a6c6; /* 레저와 여가생활: 여유로운 라벤더 */
  --category-mart: #cbd1e8; /* 마트: 깔끔하고 친근한 연블루 */
  --category-convenience: #a5d6d3; /* 편의점: 간단하고 상쾌한 민트 */
  --category-shopping: #ffe6eb; /* 쇼핑: 감성적인 연핑크 */
  --category-online-shopping: #999999; /* 온라인 쇼핑: 중성적이고 디지털 느낌 */
  --category-coffee: #c9ced6; /* 커피와 디저트: 차분하고 부드러운 그레이 */
  --category-beauty: #f2a9a9; /* 뷰티: 화사함 강조 핑크톤 */
  --category-food: #10b981; /* 식비: 신선함, 건강의 초록 */
  --category-finance: #304663; /* 보험과 금융: 안정감 있는 네이비 */
  --category-health: #b0b4bb; /* 건강과 의료: 전문적이고 차분한 톤 */
  --category-education: #f2f4fb; /* 교육: 깔끔하고 차분한 연회색 */
  --category-travel: #f9dada; /* 여행: 설렘과 자유의 연핑크 */
  --category-alcohol: #cf5959; /* 주류: 묵직한 딥레드 */
  --category-undefined: #6b7280; /* 카테고리 미지정: 중립적 보조색 */
}
